- if @current_user
  %p Hey homes, you're in!
  %img{src: @current_user.gravatar_url} 

  %h2 Gists
  %script{src: "https://gist.github.com/#{"oguzcanhuner"}/#{6975991}.js"}
- else
  %p 
    Hey stranger
    %a{href: "/login" }
      Connect to github
