%html
  %head
    %title Review My Code
    %link{rel: "stylesheet", type: "text/css", href: "//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"}
    %link{rel: "stylesheet", type: "text/css", href: "/main.css"}
  %body
    %header.navbar.navbar-inverse
      .fluid-container
        %a.navbar-brand{href: ""} Review My Code
    .fluid-container
      = yield
