%form{action: "/submissions", method: "POST"}
  %textarea{name: "submission[description]", type: "text", placeholder: "Enter a description"}
  %textarea{name: "submission[code]", type: "text", placeholder: "Enter some code"}
  %input{name: "submit", type: "submit"}
